<a href="https://colab.research.google.com/github/gilmargjs/Criando-Barra-de-Navegacao/blob/main/conjuntos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#conjuntos
planeta_anao = {'Plutão','Ceres','Eris','Haumea','Makemake'}
print(planeta_anao)

In [3]:
#quantidade de planetas
quat_p = len(planeta_anao)
print(quat_p)

5

In [4]:

#tem Eris em planeta anao ?
'Eris' in planeta_anao

True

In [7]:
#tem lua em planeta anao ?
'lua' not in planeta_anao

True

In [10]:
#para cada astro em palneta anao
#imprimir astro passando para maiusculo
for astro in planeta_anao:
    print(astro.upper())

PLUTÃO
ERIS
CERES
MAKEMAKE
HAUMEA

In [14]:
#set transforma lista em conjuntos sem repetir itens
astros = ['lua','marte','venus','plutão','lua']
print('lista:',astros)
astrosSet = set(astros)#converte em conjuntos
print('conjunto:',astrosSet)

lista: ['lua', 'marte', 'venus', 'plutão', 'lua']
conjunto: {'lua', 'marte', 'plutão', 'venus'}

In [17]:
#comparar conjuntos
p1 = {'Terra','Venus','Mercurio','Marte'}
p2 = {'Terra','Venus','Mercurio','Marte','Satruno'}
print(p1 == p2)#verifica se á igual
print(p1 != p2)#verifica se é diferente

False
True

In [19]:
 #união entre conjuntos e elimina as repetições
 p1 = {'Terra','Venus','Mercurio','Marte','Neturno'}
p2 = {'Terra','jupter','Urano','Marte','Satruno'}
p3 = p1 | p2#uni os dois sem repetir 
print(p3)

{'Marte', 'jupter', 'Neturno', 'Terra', 'Mercurio', 'Venus', 'Satruno', 'Urano'}

In [21]:
 #união entre conjuntos e elimina as repetições
p1 = {'Terra','Venus','Mercurio','Marte','Neturno'}
p2 = {'Terra','jupter','Urano','Marte','Satruno'}
p4 = p1.union(p2)#outra forma de unir os dois sem repetir 
print(p4)

{'Marte', 'jupter', 'Neturno', 'Terra', 'Mercurio', 'Venus', 'Satruno', 'Urano'}

In [22]:
#intersecção entre conjuntos: Retorna os itens que existe nos dois
p1 = {'Terra','Venus','Mercurio','Marte','Neturno'}
p2 = {'Terra','jupter','Urano','Marte','Satruno'}
p5 = p1 & p2 #intersecção retorna os itens que existe nos dois conjuntos 
print(p5)

{'Marte', 'Terra'}

In [23]:
#intersecção entre conjuntos: Retorna os itens que existe nos dois
p1 = {'Terra','Venus','Mercurio','Marte','Neturno'}
p2 = {'Terra','jupter','Urano','Marte','Satruno'}
p6 = p1.intersection(p2) #outra forma intersecção retorna os itens que existe nos dois conjuntos 
print(p6)

{'Marte', 'Terra'}

In [24]:
#Diferença entre conjuntos
p1 = {'Terra','Venus','Mercurio','Marte','Neturno'}
p2 = {'Terra','jupter','Urano','Marte','Satruno'}
p7 = p1 - p2 #Retorna os itens de p1 que não estão em p2(obs:se  usar p2 -p1 retornará o que tem em p2 que não está em p1) 
print(p7)

{'Venus', 'Mercurio', 'Neturno'}

In [26]:
#Diferença entre conjuntos
p1 = {'Terra','Venus','Mercurio','Marte','Neturno'}
p2 = {'Terra','jupter','Urano','Marte','Satruno'}
p8 = p2.difference(p1) #outra forma: Retorna os itens de p2 que não estão em p1(obs:se  usar p1 - p2 retornará o que tem em p1 que não está em p2) 
print(p8)

{'jupter', 'Satruno', 'Urano'}

In [27]:
#Diferença Simetrica(oque está em um que não está no outro)
p1 = {'Terra','Venus','Mercurio','Marte','Neturno'}
p2 = {'Terra','jupter','Urano','Marte','Satruno'}
p9 = p1 ^ p2 #Retorna os itens que está em um que não está no Outro
print(p9)

{'Venus', 'jupter', 'Neturno', 'Mercurio', 'Satruno', 'Urano'}

In [28]:
#Diferença Simetrica(oque está em um que não está no outro)
p1 = {'Terra','Venus','Mercurio','Marte','Neturno'}
p2 = {'Terra','jupter','Urano','Marte','Satruno'}
p10 = p1.symmetric_difference(p2) #Outra Forma de Retornar os itens que está em um que não está no Outro
print(p10)

{'Venus', 'jupter', 'Neturno', 'Mercurio', 'Satruno', 'Urano'}

In [31]:
#copiar elementos de um conjunto para outro
g1 = {'eu','voce','nos'}
g2 = g1.copy()
print('g1;',g1)
print('g2;',g2)
#obs: as alterações na origem não reflete no destino
#é aconselhavel sempre usar o metodo copy() em vez 
#do operador de atribuição

g1; {'voce', 'nos', 'eu'}
g2; {'voce', 'nos', 'eu'}

In [36]:
#adicionando elementos
l1 = {'Terra','Venus','Mercurio','Marte','Neturno'}
l1.add('gilmar')#adiciona elementos no conjunto
print(l1)
l1.remove('Terra')#remove elementos do conjunto
print(l1)
l1.discard('Venus')#outra Forma de remover elementos
print(l1)
l1.pop()#remove um elemento porem não sabe-se qual elemento será
print(l1)
l1.clear()#esvazia o conjunto

{'Marte', 'Neturno', 'Terra', 'Mercurio', 'Venus', 'gilmar'}
{'Marte', 'Neturno', 'Mercurio', 'Venus', 'gilmar'}
{'Marte', 'Neturno', 'Mercurio', 'gilmar'}
{'Neturno', 'Mercurio', 'gilmar'}